<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href=#{global.basemail_css+'app.css'} />
    <link rel="stylesheet" href="#{"http://annaweb-api.australiachemistwarehouse.com.au/emails/css/app.css"}" />
</head>

<body style="Margin:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;min-width:100%;background-color:#f3f2f0;">
<center class="wrapper" style="width:100%;table-layout:fixed;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;background-color:#f3f2f0;">
    <div class="rxsent-mail" style="max-width: 100%;">
        <div style="width: 100%;">
            <div class="rxsent-mail-header">
                <div class="adform_header_left" style="overflow: hidden;">
                    <div class="_print_form_title">Anna Wholesale</div>
                    <div class="_print_form_add">Hàng Úc Xách Tay</div>
                    <div class="_print_form_add" style="white-space: pre-wrap;">Address: shop 3/12-26 Little Regent St Chippendale, Sydney 2008</div>
                    <div class="_print_form_add">Phone: +61450928599 - Kevin</div>
                </div>
                <div class="adform_header_right">
                  <img class="adform_header_logo" style="position: absolute;" src='http://annaweb-api.australiachemistwarehouse.com.au/upload/image/5163705868757btpbzC8B.png' alt="logo"/>
                </div>
            </div>
            <hr class="rx-sent-mail-hr"/>
            <div class="rx-body-mail">
                <div class="rx-mail-header">
                    <div class="rx-header-mail-title">Chào <b>#{name}</b></div>
                    - if (type == 0) {
                        <div class="rx-header-mail-title">Cám ơn bạn đã đặt hàng tại <b>Anna Wholesale!</b> Chúng tôi gửi email này cho bạn để thông báo đơn hàng <b>##{code}</b> vừa đặt thành công.</div>
                    - } 
                    - else {
                        <div class="rx-header-mail-title">Cám ơn bạn đã đặt hàng tại <b>Anna Wholesale!</b> Chúng tôi gửi email này cho bạn để thông báo đơn hàng <b>##{code}</b> có sự thay đổi, vui lòng kiểm tra lại. Mọi thắc mắc vui lòng liên hệ  +61 450 928 599</div>
                    - }
                    <div class="rx-header-mail-title">Mã đơn hàng: <b>##{code}</b></div>  
                </div>  
                <table class="rx-table-mail">  
                    <thead>  
                        <tr>  
                            <th class="rx-body-mail-image">Hình ảnh</th>  
                            <th class="rx-body-mail-name">Tên sản phẩm</th> 
                            <th class="rx-body-mail-price">Đơn giá</th>   
                            <th class="rx-body-mail-amount">Số lượng</th> 
                            <th class="rx-body-mail-amount">Giảm giá</th> 
                            <th class="rx-body-mail-price">Tổng cộng</th>  
                        </tr>  
                    </thead>  
                    <tbody class="rx-body-mail">  
                        - for (var i = 0; i < productarr.length; ++i) {

                        <tr class="rx-body-mail-product">  
                            <td>  
                                <div>
                                    <img src=#{"http://annaweb-api.australiachemistwarehouse.com.au/upload/image/" + productarr[i].data.img_landscape} class="rx_img_product"/>
                                </div>  
                            </td>  
                            <td style="text-align: left;">  
                                <div>#{productarr[i].data.name}</div>  
                            </td>  
                            <td>#{productarr[i].data.price}</td>  
                            <td>#{productarr[i].amount}</td>  
                            <td>#{productarr[i].discount_item}</td>  
                            <td>#{productarr[i].data.total}</td>  
                        </tr>  
                        - }
                        <tr><td colspan="5"><hr class="rx-sent-mail-hr"/></td></tr>
                        <tr>
                            <td colspan="3" style="text-align: left;">Tổng giá trị sản phẩm:</td>
                            <td colspan="2">#{totalProduct}</td>
                        </tr>
                        <tr>
                            <td colspan="3" style="text-align: left;">Khuyến mãi:</td>
                            <td colspan="2">#{price_discount}</td>
                        </tr>
                        <tr>
                            <td colspan="3" style="text-align: left;">Phí vận chuyển:</td>
                            <td colspan="2">#{fee_ship}</td>
                        </tr>
                        <tr>
                            <td colspan="3" style="text-align: left;">Tổng cộng:</td>
                            <td colspan="2">#{totalpay}</td>
                        </tr>
                        <tr style="text-align: left;"><td colspan="2">Ngày đặt hàng:</td><td colspan="3">#{date}</td></tr>  
                        <tr style="text-align: left;"><td colspan="2">PAYMENT:</td><td colspan="3">#{type_payment}</td></tr>  
                        <tr style="text-align: left;"><td colspan="2">SHIPPING:</td><td colspan="3">#{textorder}</td></tr>  
                        <tr style="text-align: left;"><td colspan="2">Địa chỉ giao hàng:</td><td colspan="3">#{address.street}, #{address.county}, #{address.city}</td></tr> 
                        - if(type == 1) {
                            <tr style="text-align: left;"><td colspan="2">Thời gian giao hàng :</td><td colspan="3">#{time_delivery}</td></tr>
                        - }
                    </tbody>  
                </table>   
            </div>
        </div>  
    </div> 
    <div class="rx-footer-mail">  
        <div>Đây là email xác nhận đơn hàng tự động từ Anna Wholesale, đội ngũ nhân viên chúng tôi sẽ liên lạc với bạn để xác nhận trong thời gian sớm nhất. Xin cảm ơn đã đặt hàng tại website Anna Wholesale!</div>  
        <div>© 2019 <b>Anna Wholesale.</b> Terms  |  Privacy</div>  
    </div>  
</center>
</body>


</html>
