
body {
    margin: 0;
    padding: 0;
    min-width: 100%;
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    mso-line-height-rule: exactly;
}
table {
    border-spacing: 0;
    color: #333333;
    font-family: Arial, sans-serif;
    font-size: 1em;
}
img {
    border: 0;
}
.wrapper {
    width: 100%;
    table-layout: fixed;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
.rxsent-mail {
    font-family: arial;
    max-width: 100%;
    color: #333333;
    text-align: center;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #c9c9c9;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: #1775bc;
    margin-top: 50px;
    background: #fff;
    margin-left: 1%;
    margin-right: 1%;
}
.rxtitle-mail {
    padding: 20px 0px;
    font-weight: bold;
    font-size: 2em;
    font-family: 'Gilroy', sans-serif;
}
.rx-body-mail {
    padding: 2%;
    line-height: 24px;
}
.rx-header-mail-title {
    margin-block-start: 1em;
    margin-block-end: 1em;
    text-align: left;
    line-height: 30px;
}
table.rx-table-mail {
    width: 100%;
    padding: 10px;
    border: none;
}
th.rx-body-mail-name {
    width: 40%;
}
th.rx-body-mail-image {
    width: 15%;
    font-size: 1em;
}
table.rx-table-mail th {
    background: #e6e6e6;
    font-size: 1em;
}
.rx-body-mail-product {
    background-color: #f2f2f2;
}
.rx-body-mail-product:nth-child(even) {
    background-color: #f6f6f6;
}
table.rx-table-mail th, table.rx-table-mail td, table.rx-table-mail td div {
    border-left: none;
    border-top: none; 
    font-size: 1em;
}

.rx-footer-mail div {
    padding: 10px 0;
}
.rx-footer-mail {
    padding: 10px;
}
hr.rx-sent-mail-hr {
    margin: 5px auto;
}

table.rx-bottom-mail {
    width: 100%;
    padding: 10px;
    border: none;
}
.rx_img_product {
    height:50px; 
    width: 50px; 
    object-fit: scale-down;
}
.adform_header_left {
    margin-left: 20px;
    float: left;
    width: 70%;
}
.adform_header_right {
    float: left;
    width: 25%;
}
._print_form_title {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}
._print_form_add {
    text-align: left;
    font-size: 1em;
}
.adform_header_logo {
    height: 70px;
    width: auto;
}
.rxsent-mail-header {
    width: 100%;
    overflow: hidden;
    display: inline-flex;
    white-space: nowrap;
}
.adform_header_title {
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
}
@media screen and (max-width: 768px) {
    .rxsent-mail {
        max-width: 100%;
    }
    th.rx-body-mail-image {
        width: unset;
    }
    th.rx-body-mail-name {
        width: 50%;
        font-size: 1em;
    }
}
@media screen and (max-width: 480px) {
    table[class=hide], img[class=hide], td[class=hide] {
        display: none !important;
    }
}